@charset "utf-8";
/* 도깨비 PJ 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

/***************** 메인 CSS *****************/
/***************** 1. 상단영역 *****************/
/* 상단영역 최상위 부모박스 */
#top-area{    
    position: relative;
    /* 상단영역이 항상위! */
    z-index: 9999;
}
.top-area{
    height: 122px;
}
/* 상단영역 플렉스 부모박스 */
.top-area .cont-box{
    justify-content: space-between;
}
/* 로고박스 */
.logo-box{    
    width: 126px;
    text-align: center;
    padding: 10px 0;
}

/* 메뉴박스 */
.menu-box{
    padding-right: 10px;
}

/* 메뉴그룹 플렉스 */
.menu-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}
/* 상단영역 메뉴 공통 플렉스 */
.menu-group ul{
    display: flex;
}
/* 탑메뉴 */
.top-menu ul{
    font-size: 1.6rem;
    gap: 2rem;
}
/* GNB메뉴 */
.gnb-menu ul{
    font-size: 1.8rem;
    gap: 3.2rem;

}
/* 상위 메뉴 li오버시 a요소 글자 빨간색 */
.gnb-menu > ul > li:hover > a{
    color: #f00;
}

/* 서브메뉴 */
.sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    /* 서브메뉴를 숨기기위해 넘치는 자식 숨기기설정 */
    overflow: hidden;
    /* 높이값을 0으로 하면 자식요소가 숨겨짐!
    -> 단, 여기에 위아래 패딩을 줄 경우 숨겨지지 않는다! */
    max-height: 0;
    /* 처음에 최대높이값 셋팅필수! 그래야 트랜지션 먹음! */

    /* 트랜지션 */
    transition: .4s ease-out;
}
/* 부모 li에 마우스 오버시 .sub-menu 높이값 변경하기 */
.gnb-menu > ul > li:hover .sub-menu{
    max-height: 400px;
    /* 최대 높이값을 컨텐츠 높이값 보다 좀 더 크게 잡으면
    오버시 높이값이 내용만큼만 커지게 된다! */
}

/* 패딩만 내부에 다른 블록요소를 사용함!
-> 자식요소 숨기기 부모박스엔 패딩을 줄 수 없다! */
.padding-box{
    padding: 5vw;    
}

/* 타이틀 바 */
.title-bar{
    display: flex;
    justify-content: space-between;
    /* 글자크기 */
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}
/* 서브리스트 ul */
.sub-list ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 100px; */

    /* 글자크기 */
    font-size: 1.6rem;
}

/* 서브리스트 li */
.sub-list li {
    /* 가로크기 제한 */
    width: calc(100% / 5);

    /* 한줄짜리 말줄임표시 3가지 셋팅! */
    /* 1.줄바꿈 방지 */
    white-space: nowrap;
    /* 2.넘치는 자식 숨기기 */
    overflow: hidden;
    /* 3.넘치는 글자 말줄임표시 */
    text-overflow: ellipsis;
}

/* 서브리스트의 ul별로 높이값 셋팅 */
/* 두줄 클래스 */
.two-line{
    height: 8rem;
}
/* 세줄 클래스 */
.three-line{
    height: 13.8rem;
}


/***************** 1.5. 드라마파트메뉴 *****************/
/***************** 2. 메인영역 *****************/
/***************** 2-1. 배너영역 *****************/
.banner-part{
    /* 비율셋팅 : 배너이미지크기 비율임! */
    aspect-ratio: 1380 / 598;
    
    /* 임시이미지 */
    background: url(../../01.구현디자인/결과물/배너포스터/dokaebi_poster01.jpg) no-repeat center/cover;
}
/***************** 2-2. 캐릭터영역 *****************/
.cat-part{
    height: 188px;
}
/***************** 2-3. 드라마소개영역 *****************/
.intro-part{
    height: 500px;
}
/***************** 2-4. 미리보기영역 *****************/
.view-part{
    height: 660px;
}
/***************** 2-5. 현장포토영역 *****************/
.real-part{
    height: 906px;
}
/***************** 2-6. 대표포스터영역 *****************/
.poster-part{
    height: 654px;
}
/***************** 2-7. 최신동영상영역 *****************/
.video-part{
    height: 409px;
}
/***************** 3. 하단영역 *****************/
.bottom-area{
    height: 391px;
}