@charset "utf-8";
/* 도깨비 PJ 인물관계도 페이지 CSS - relationship.css */

/* 외부 CSS 불러오기 */
@import url(./common.css);
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
/* body * {
    outline: 2px dashed #ccc;
} */

/***************** 메인 CSS *****************/
.relation-box {
  text-align: center;
}
.relation-box img {
  max-width: 100%;
}