@charset "utf-8";

/* CGV PJ 메인페이지 CSS - main.css */

/* 외부CSS 불러오기 */
/* 리셋CSS */
@import url(./reset.css);
/* 공통CSS */
@import url(./core.css);

/* 전체 디자인 */
body {
  background-color: #000;
}

/* 공사중 표시 : 구현시 박스표시 */
/* *별표시는 모든요소를 선택함 */
/* body * {
  outline: 2px dashed #ccc;
} */

/*************** 1. 상단영역 ***************/
.top-area {
  /* 부모자격 렐러티브! */
  position: relative;

  height: 80px;
  /* 배경이미지 */
  background: url(../images/curtain.jpg)
    repeat-x;
}
/* 1-1.타이틀 */
.tit{
  font-family: 'Jua', sans-serif;
  font-size: 40px;
  color: aquamarine;
  text-align: center;
  line-height: 80px;
  /* 글자 글로우 효과 */
  text-shadow: 0 0 4px aquamarine;
  /* 애니메이션: 이시이지반방마 */
  animation: tit-ani .5s ease-in infinite alternate;
}

/* 타이틀 애니 키프레임 */
@keyframes tit-ani {
  to{
      text-shadow: 0 0 12px aquamarine;
  }
}

/* 1-2.GNB 메뉴 */
.gnb{
  position: absolute;
  bottom: 10px;
  right: 10px;
  /* 부모는? .top-area */
  z-index: 999;
  /* 서브메뉴가 위로 올라오도록 위치 위로! */
}
/* 글자일반 셋팅 */
.gnb ul{
  /* 플렉스 박스 */
  display: flex;
  /* 사이간격은 gap : 로간격 컬럼간격 */
  gap: 0 1.5rem;

  font-family: 'Jua', sans-serif;
  font-size: 2rem;
}
/* 리스트 옆으로 흐름 */
.gnb ul>li{
  /* 서브메뉴를 위한 부모자격 */
  position: relative;
  /* float: left; */
  padding-bottom: 1rem;
  /* 하단부분 서브메뉴와 연결되게
  간격만들고 조정함! 이벤트가 끊김! */
}
/* 리스트 사이간격
li+li 두번째 li부터 선택
-> 플렉스박스일 경우 gap속성으로 셋팅함 */
/* .gnb ul>li+li{
  margin-left: 20px;
} */

/* 서브메뉴 */
.smenu{
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 147px;
  /* outline: 2px solid yellow; */
  /* box-shadow: 0 0 5px #fff; */
  /* 모든 외곽선에 그림자(글로우)효과를 주려면 filter 드랍쉐도우를 사용함! */
  filter: drop-shadow(0 0 5px #fff);
  border-radius: 5px;
  font-size: 1.7rem;
  line-height: 1.6;
  padding: 3px;
  background: url(../images/bg_smenu.png) no-repeat center/cover;
  /* 처음에 안보임 */
  display: none;
}
/* 상위메뉴 오버시 서브보이기 */
.gnb ul>li:hover .smenu{
  display: block;
}
/* 가상요소로 삼각형 만들기 */
.smenu::before{
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 15px;
  background-color: #303030;
  /* 클립패쓰로 자르기 */
  clip-path: polygon(0 100%, 50% 0,100% 100%);
}
/* 서브메뉴 ol */
.smenu ol{
  border: 1px solid #ccc;
  padding: 10px;
  white-space: nowrap;
}
/* 사이구분선 클래스 */
.bd-top{
  border-top: 1px solid #ccc;
}
/* 서브메뉴 오버시 글자색 */
.smenu li:hover a{
  color: red;
}
/* 서브메뉴 오버시 아이콘 */
.smenu li:hover a::after{
  content: '🧛‍♂️';
  /* 오른쪽 끝에 위치 */
  float: right;
}
/* 예매 */
.gnb ul>li:nth-child(2) 
.smenu li:hover a::after{
  content: '🍋';
}
/* 극장 */
.gnb ul>li:nth-child(3) 
.smenu li:hover a::after{
  content: '🌞';
}
/* 이벤트&컬처 */
.gnb ul>li:nth-child(4) 
.smenu li:hover a::after{
  content: '📣';
}

/* 영화보러 가는 길 애니박스 */
.goMV{
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 80px;
    /* outline: 1px dashed yellow; */

    /* 손가락모양 */
    cursor: pointer;

    /* 원근설정 */
    perspective: 480px;
}
/* 글자커버 */
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;/* 애니보다위! */
    background: url(../images/curtain.jpg) no-repeat;
    
    /* 글자설정 */
    font-family: 'Cute Font', cursive;
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    white-space: nowrap;

    /* 애니메이션 변경 속성 - 들여쓰기 */
    text-indent: -200%;
    overflow: hidden;

    /* 애니메이션 */
    animation: txtAni 3s cubic-bezier(0.63, -0.86, 0.5, 1.65) infinite;

    /* 트랜스폼 축변경 */
    transform-origin: top;

    /* 트랜지션 */
    transition: transform .6s ease-in-out .2s;

    box-sizing: border-box;
}
/* 오버시 + 클래스 on 일때 x축회전하기 */
.goMV:hover .cover,
.goMV.on .cover{
    transform: rotateX(90deg);
    border: 1px solid aquamarine;
}
/* 텍스트 애니 키프레임 */
@keyframes txtAni {
    0%{
        text-indent: -200%;
    }
    20%{
        text-indent: 0;
    }
    80%{
        text-indent: 0;
    }
    100%{
        text-indent: 200%;
    }
} /* 키프레임 */

/* 애니박스 */
.anibx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 부모는? .goMV */

    /* 배경 */
    background-image: url(../images/street.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;

    /* 애니메이션 */
    animation: stAni 4s linear infinite;
}
/* 스크린 배경이동 키프레임 */
@keyframes stAni {
    to{
        background-position-x: -136px;
    }
} /* 키프레임 */

/* 걷는소년박스 */
.ani{
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/spAni03.png);
    /* 
        축소된 배경이미지 크기 계산:
        1472 : 325 = x : 80
        x = 362
        -> 가로크기 362px -> 배경포지션 이동값에 활용!
    */
    background-size: auto 100%;

    /* 
        [ 장면 넘기기 애니메이션 ]

        1. 키프레임 셋팅법:

        1) x축 배경이동 셋팅(값이 마이너스임)
        background-position-x: -가로전체크기px;

        2) y축 배경이동 셋팅(값이 마이너스임)
        background-position-y: -세로전체크기px;

        (유의사항: 이미지 크기가 변경되었다면
        비례식으로 정확한 크기를 계산하여 쓸것!)

        2. 애니메이션 호출법:

        1) x축 애니
        animation: 키프레임명 시간 steps(장면수) infinite;

        2) x,y축 애니
        animation: 
        x축키프레임명 시간 steps(장면수) infinite,
        y축키프레임명 시간 steps(장면수) infinite;

        -> steps(장면수) 는 전체길이의 장면을 설정하여
        한장면씩 화면에 찍어서 셀애니메이션이 되게 해줌!
        여기서는 이징이 필요없음!
    */

    /* 장면넘기기 애니메이션 호출! */
    animation: wAni 1s steps(8) infinite;

    /* outline: 2px dotted red; */
}
/* 걷는소년 키프레임 */
@keyframes wAni {
    to{
        background-position-x: -362px;
    }
}

/* 몬스터박스 */
.ani2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../images/spAni02.png);
    background-size: 240px;
    /* 배경이미지 크기를 6장면이니까 한개당 40px로 계산 */

    /* 장면넘기기 애니메이션 호출! */
    animation: 
    monAniX 1s steps(6) infinite,
    monAniY 3s steps(3) infinite;
    /* x축 steps(장면수),  y축 steps(줄수) */    

    /* outline: 2px dotted blue; */
}
/* 몬스터애니 키프레임 : x,y축 따로 키프레임 작성! */
@keyframes monAniX {
    to{
        background-position-x: -240px;
        /* 비례식으로 계산된 가로크기에 마이너스! */
    }
}
@keyframes monAniY {
    to{
        background-position-y: -120px;
        /* 비례식으로 계산된 세로크기에 마이너스! */
    }
}

/* 구글맵박스 */
.gmap{
    position: fixed;
    top: -50%;/* 처음에 위에 있음(숨김) */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 450px;
    border: 20px solid rgb(255, 69, 221);
    border-radius: 10px;
    z-index: 99999;

    /* 트랜지션 */
    transition: top .8s cubic-bezier(0, 0, 0.36, 1.5);
}
/* 클래스 on 위치이동설정 */
.gmap.on{
    top: 50%;
}

/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}


/* 영사기 박스 */
.cam{
  position: absolute;
  top: -10px;
  right: -65px;
}
/* 영사기 이미지 */
.cam img{
  width: 50px;
  rotate: 30deg;
  /* 트랜지션: trs 양방향공통 */
  transition: .3s .3s;
}
/* GNB에 오버시 영사기 이미지 회전 */
.gnb:hover .cam img{
  rotate: 0deg;
  /* 트랜지션 지연시간 오버시엔 없앰! */
  transition-delay: 0s;
}
/* 빔박스 */
.beam{
  position: absolute;
  z-index: -1;
  /* 스테틱 이미지보다 아래 */
  top: -16px;
  right: 9px;
  width: 0px;
  height: 70px;
  background: url(../images/bim.png) no-repeat right/auto 100%;
  /* 트랜지션: trs */
  transition: .3s;

  /* outline: 2px dashed yellow; */
}
/* GNB에 오버시 빔박스 보이기 */
.gnb:hover .beam{
  width: 200px;
  /* 영사기 이미지 .3s 돌동안 대기하기 */
  transition-delay: .3s;
  /* 빔떨림 애니메이션 호출 */
  animation: beam-ani .05s linear infinite alternate;
  /* 0.05초간 등속도(linear)로 계속(infinite) 번갈아(alternate) */
}
/* 빔떨림 애니 키프레임 */
@keyframes beam-ani {
  to{
    opacity: 0.5;
  }
}

/* 가상요소로 상영스크린 만들기 */
.cam::after{
  content: '';
  position: absolute;
  /* 메뉴,빔보다 아래 */
  z-index: -2;

  top: -15px;
  right: 120px;
  /* 트랜지션 대상: opacity */
  width: 0;
  opacity: 0;

  height: 66px;
  background: url(../images/screen.gif) no-repeat -50% center/auto 80%;
  /* 트랜지션 */
  transition: opacity .3s;
}
/* GNB오버시 스크린 보이기 */
.gnb:hover .cam::after{
  width: 129px;
  opacity: 1;
  /* 트랜지션 딜레이 */
  transition-delay: .6s;
}


/*************** 2. 메인영역 ***************/
.main-area {
  position: relative;
  /* 부모자격 - 자식요소들 */
  /* height: 788px; */

  /* 최대높이값 지정 */
  max-height: 788px;

  /* 높이값을 주지않고 비율설정을 해서 비율박스 생성 */
  aspect-ratio: 1200/788;

  /* 극장 배경이미지 넣기 */
  background: url(../images/bg.jpg) no-repeat center top/cover;
}
/* 스크린박스 */
.screen {
  position: absolute;
  top: 17.2%;
  left: 21.4%;
  width: 58.5%;
  height: 50.4%;
  background-color: #000;
}
/* 스크린박스 하위 아이프레임 */
.screen iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 2-2. 포스터 메뉴박스 */
.poster-menu-box{
  position: absolute;
  bottom: 5%;
  width: 66%;
  /* 가로방향중앙 */
  left: 50%;
  translate: -50%;
}
/* 포스터 메뉴박스 ul */
.poster-menu-box ul{
  display: flex;
  gap: 1.5%;
  /* 자식 li 입체를 위한 원근설정 */
  perspective: 70vh;
}

/* 포스터 이미지 */
.poster-menu-box img{
  width: 100%;
  aspect-ratio: 99/140;
}

/* 영화포스트 리스트 li */
.poster-menu-box li{
  position: relative;
  /* 영화정보박스의 부모! */
  /* 넘치는 자식 숨기기 */
  overflow: hidden;
  
  /* x축회전, 기준축 하단
  -> 단, 원근설정은 부모박스에게! */
    rotate: x 40deg;
    transform-origin: bottom;

    /* 트랜지션 */
    transition: rotate .3s ease-out;
}
/* li에 오버시 변경
+ 동시에 클래스 on일때 적용 */
.poster-menu-box li:hover,
.poster-menu-box li.on{
  /* 일어남! */
  rotate: x 0deg;
  /* 외곽선 */
  outline: 1px solid aqua;
  /* z-index 위 */
  z-index: 1;
}

/* 영화정보박스 */
.movie-info{
  position: absolute;
  /* 아래쪽에 내려가 있음! */
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* 반투명 검정배경 */
  background-color: rgb(0 0 0 / 0.7);
  text-align: center;

  /* 플렉스 박스 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;

  /* 웹폰트체 적용 */
  font-family: 'Cute Font', cursive;
  /* 글자크기 */
  font-size: min(1.2vw,17px);
  /* 줄바꿈방지 */
  white-space: nowrap;

  /* 트랜지션 - li박스 x축 0.3초 회전후 작동 */
  transition: top .3s ease-out .3s;

}

/* 영화정보박스 li:hover
+ li.on일때도 적용! */
.poster-menu-box li:hover .movie-info,
.poster-menu-box li.on .movie-info{
  top: 0;
}

/* 영화정보 중 타이틀 */
.movie-info h2{
  color: aqua;
  font-size: min(1.5vw,19px);
}
/* 기본 두꺼운체 해제! */
.movie-info h2,
.movie-info h3,
.movie-info h4{
  font-weight: normal;
}

/*************** 3. 하단영역 ***************/
.bottom-area{
  /* 플렉스 박스 */
  display: flex;
  /* 진행방향 수직정렬(한줄) */
  align-items: center;
  gap: 0 20px;
  padding: 30px;

  /* height: 100px; */
}
/* 3-1.하단로고 */
/* 3-2.회사정보 */
.co-info address{
  font-family: 'cute font';
  font-size: 1.6rem;
  color: #fff;
  /* 이탤릭해제 */
  font-style: normal;
}
/* 3-3.SNS */
.sns-box{
  /* 플렉스 자식에서 왼쪽마진을
  auto로 주면 오른쪽 끝으로 이동함 */
  margin-left: auto;
}
.sns-box ol{
  /* 플렉스박스 */
  display: flex;
  gap: 0 10px;
}
.sns-box a{
  font-size: 4rem;
  color: #fff;
}

