@charset "utf-8";

/* 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */


/* 전체 메뉴박스 */
#all-menu-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    /* 우선숨김 */
    display: none;
}