@charset "utf-8";
/* 아이폰 회전 애니 CSS */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #fff 20%,
    skyblue 40%,
    #fff
  );
  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
}

/* 아이폰박스 */
.iphone {
  position: absolute;
  /* 박스 정중앙 보내기 */
  top: calc(50% - 400px / 2);
  left: calc(50% - 200px / 2);
  /* calc() CSS계산함수
    - 더하기, 빼기 사용시 기호앞뒤공백 필수 */
  width: 200px;
  height: 400px;

  /* 입체적용설정 */
  transform-style: preserve-3d;

  /* 회전적용 : x축 10도, y축 30도 */
  transform: rotateX(10deg) rotateY(30deg);

  /* outline: 1px solid red; */
}
/* 아이폰 각면 공통 */
.iphone span {
  position: absolute;
  width: 200px;
  height: 400px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* 배경 투명부분을 흰색으로 채움 */
  background-color: #fff;
}

/* 1. 앞면 */
.iphone span:nth-child(1) {
  background-image: url(../images/ip01.png);

  /* z축으로 10px 앞으로 이동하기 */
  translate: 0 0 10px;
}
/* 2. 뒷면 */
.iphone span:nth-child(2) {
  background-image: url(../images/ip02.png);

  /* z축으로 10px 뒤로 이동하기 */
  translate: 0 0 -10px;
  /* 뒷면에서 바로 보여야하므로 y축 180도회전 */
  rotate: y 180deg;
}
/* 3. 오른쪽면 */
.iphone span:nth-child(3) {
  background-image: url(../images/ip03.png);

  /* 가로크기 재설정 */
  width: 20px;

  /* 오른쪽 끝으로 위치이동 */
  right: -10px;
  /* y축 90도 회전 */
  rotate: y 90deg;
}
/* 4. 왼쪽면 */
.iphone span:nth-child(4) {
  background-image: url(../images/ip04.png);

  /* 가로크기 재설정 */
  width: 20px;

  /* 왼쪽 끝으로 위치이동 */
  left: -10px;
  /* y축 -90도 회전 */
  rotate: y -90deg;
}
/* 5. 아랫면 */
.iphone span:nth-child(5) {
  background-image: url(../images/ip05.png);

  /* 세로크기 재설정 */
  height: 20px;

  /* 아래쪽 끝으로 위치이동 */
  bottom: -10px;
  /* x축 90도 회전 */
  rotate: x 90deg;
}

/* 6. 아랫면 */
.iphone span:nth-child(6) {
  background-image: url(../images/ip06.png);

  /* 세로크기 재설정 */
  height: 20px;
  
  /* 윗쪽 끝으로 위치이동 */
  top: -10px;
  /* x축 90도 회전 */
  rotate: x 90deg;
}

/* 아이폰 애니 클래스 */
.rotate-iphone {
  animation: iphone-ani 2s ease-in-out 1s 2 alternate;
  /* 2초간 처음과끝천천히 1초기다린후 2번실행 반대방향애니셋팅 */
}

/* 아이폰 회전 애니 키프레임 */
@keyframes iphone-ani {
  to{
    transform: rotateX(-350deg) rotateY(390deg);
  }
}

/* 흘러가는 글자 박스 */
.flow-box{  
  /* 박스 포지션 */
  position: fixed;
  top: 2vh;
}
/* 글자박스 */
.text-box{

  /* 플렉스박스 : ul과 ul도 옆으로 흐르게함 */
  display: flex;

  /* 보이는 화면만큼 가로폭 */
  width: 100vw;

  /* 애니메이션 호출 : 이시이지반방마 */
  animation: flow-ani 5s linear infinite;
  /* 애니메이션을 반대방향으로 보내려면 reverse! */
  /* animation: flow-ani 5s linear infinite reverse; */
}

/* 두번째 박스 */
.flow-box.box2{
  /* 위치를 하단으로 이동 */
  bottom: 2vh;
}
/* 두번째 박스의 글자박스 */
.box2 .text-box{
  /* 반대방향으로 보내려면 reverse!
  animation-direction 속성만 덮어쓴다! */
  animation-direction: reverse;
}

/* 글자박스 ul */
.text-box ul{
  /* 플렉스박스 */
  display: flex;
  /* 부모박스채우기 
  -> flex-shrink값을 0이여야만 적용됨!!! */
  width: 100%;
  /* 부모에 맞춰서 줄어드는 flex자식속성인
  flex-shrink 기본값이 1이므로 내가 원하는
  크기를 설정하려면 이 속성값을 0으로 해야
  자동으로 줄어드는 속성을 없앨 수 있다! */
  flex-shrink: 0;

  /* 초기화 */
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 글자박스 ul li */
.text-box ul li{
  /* 가로크기 4등분 */
  /* width: calc(100vw/4); */

  /* 가로크기 계산보다 flex:1 셋팅이 
  더 플렉스스러운 셋팅임! */
  flex: 1;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 4vw;
  /* outline: 2px dashed red; */

  /* 글자에 그라데이션 넣기 : 3가지 셋팅필수! */
  /* (1) 배경색 그라데이션 넣기(또는 이미지) */
  background-image: linear-gradient(to right, darkorange, darkgreen);
  /* (2) 배경 클리핑 값 text로 설정 */
  background-clip: text;
  /* (3) 글자색 투명으로 설정 */
  color: transparent;
  /* 아래와 같이 글자색 투명 설정해도 유효함 */
  /* -webkit-text-fill-color: transparent; */

  /* 글자그림자를 text-shadow로 넣으면
  그라데이션 색 넣기 글자이므로 그림자가
  앞으로보임(이유는 글자색이 투명해서!)
  그래서 filter속성의 drop-shadow를
  사용하면 된다! filter효과는 요소 전체에
  종합적인 효과를 주는 속성이다! */
  filter: drop-shadow(2px 4px 3px rgb(0 0 0 / .5));

}

/* 글자이동 애니메이션 키프레임 : .text-box에서 호출! */
@keyframes flow-ani {
  to{
    /* x축으로 내크기의 절반만큼 왼쪽으로 이동함! */
    translate: -50%;
  }
}
