@charset "utf-8";
/* 심슨 가족 인사 애니메이션 CSS - simpson.css */

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

/* 전체박스 */
.house{
    position: relative;
    /* 부모자격 - 하위 앱솔루트 요소들 */
    width: 800px;
    height: 441px;

    margin: 0 auto;

    /* 배경이미지 */
    background: url(../images/house.png) no-repeat;

    /* 문짝(.door)을 원근 입체로 보이게 하기위해
    부모요소인 .house에 원근 설정을 한다!
        perspective: 수치값;
        -> 수치값의 의미는 기준축으로 부터 소실점까지의 거리!
        -> 이 값이 어떤 기준수치값 보다 작으면 원근이 커진다!
    */
    perspective: 480px;

    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}

/* 임시로 숨기기 */
.maggie ~ * {
    display: none;
}

/* 1. 심슨 */
.simpson{
    position: absolute;
    top: 305px;
    left: 351px;
    /* 부모는? .house */
    width: 31px;
}

/* 2. 문짝 */
.door{
    position: absolute;
    top: 284px;
    left: 356px;
    /* 부모는? .house */

    /* 문 회전축 오른쪽끝으로 변경 */
    transform-origin: right;
    /* 문 y축회전 테스트 */
    /* rotate: y 130deg; */
}

/* 말풍선 */
.words {
    /* 앱솔루트 poa */
    position: absolute;
    top: 100px;
    left: 100px;
    /* 부모는? .house */

    /* 박스설정 */
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    border: 10px solid #738aff;
    text-align: center;

    /* 글자설정 
    font:스두크/줄체->크체 필수! */
    font: 20px/1.7 Verdana;

}

/* 3. 마지심슨 */
.marge{
    position: absolute;
    bottom: -211px;
    right: -300px;/* -231px; */
    width: 424px;
    transform-origin: bottom;
    rotate: 0deg;/* -18deg; */
}
/* 4. 리사심슨 */
.lisa{
    position: absolute;
    top: 64px;
    left: -236px;/* -37px; */
    width: 173px;
    rotate: 90deg;
}

/* 5. 메기심슨 */
.maggie{
    position: absolute;
    bottom: -230px;/* -55px; */
    left: 77px;
    width: 165px;
}
