@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 전체 배경넣기 */
body{
    /* 배경이미지 고정형 셋팅 */
    background: #000 url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

/************* 1. 상단영역 *************/

/************* 2. 메인영역 *************/
.main-area{
    padding-top: 150px;
}


/* 로봇머리 */
.robot-head{
    position: relative;
    /* 부모자격 - 자식앱솔루트의 부모! */
    width: 250px;
    height: 250px;
    /* 무대중앙에 마.영.오! */
    margin: 0 auto;
}
/* 자식요소 모두 앱솔루트 만들기 */
.robot-head > div {
    position: absolute;
}

/* 눈공통 */
.eye{
    top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px double #000;
    /* 배경공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* 왼눈 */
.eye1{
    left: 50px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2{
    right: 50px;
    background-image: url(../images/e2.jpg);
}

/* 코 */
.nose{
    top: 98px;
    left: 102px;
    width: 46px;
    height: 67px;
    border-radius: 20px;
    background: url(../images/nose.jpg) no-repeat -3px / 121% 110%;
}
/* 입 */
.mouth{
    bottom: 21px;
    left: 85px;
    width: 80px;
    height: 46px;
    background: url(../images/mouth.png) no-repeat center / cover;
}

/* 귀공통 */
.ear{
    top: 92px;
    width: 60px;
    height: 85px;
}
/* 왼귀 */
.ear1{
    left: -60px;
    border-radius: 30px 0 0 30px;
}
/* 오른귀 */
.ear2{
    right: -60px;
    border-radius: 0 30px 30px 0;
}

/* 2-1-2. 로봇몸통 */
.robot-body{
    position: relative;
    /* 부모자격 */
    width: 180px;
    height: 320px;
    margin: 0 auto;
    margin-top: 50px;
}
/* 목 */
/* 왼팔 */
/* 오른팔 */
/* 왼어깨 */
/* 오른어깨 */
/* 왼다리 */
/* 오른다리 */
/* TV */

/************* 4. 하단영역 *************/
