@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 전체 배경넣기 */
body{
    /* 배경이미지 고정형 셋팅 */
    background: #000 url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

/************* 1. 상단영역 *************/

/************* 2. 메인영역 *************/
.robot-head{
    width: 250px;
    height: 250px;
    /* 무대중앙에 마.영.오! */
    margin: 0 auto;
}

/* 왼눈 */
.eye1{
    width: 50px;
    height: 50px;
    background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
/* 오른눈 */
.eye2{
    width: 50px;
    height: 50px;
    background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}

/************* 4. 하단영역 *************/
